
@model List<WishList.Model.Item>

<h1>WishList</h1>

<a asp-action ="Create">Add Item</a>
<ul>
    @foreach (var item in Model)
    {
        <li>@item.Description <a asp-action="delete" asp-route-id="@item.Id">Delete</a></li>
    }
</ul>

